<div style="margin-bottom:100px;">
    <div id="datatable"
         name="datatable">
        <!-- Plotly chart will be drawn inside this DIV -->
    </div>
</div>

<!--<div *ngIf="names?.length;else no_data_templ" >-->
<table class="table table-striped" id="data_table_exp">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
    </tr>
    </thead>
<!--    <tbody>-->
<!--
    <tr *ngFor='let name of names'>
        <th scope="row">{{name.id}}</th>
        <td>{{name.firstname}}</td>
        <td>{{name.lastname}}</td>
        <td>{{name.username}}</td>
    </tr>
-->
<!--    </tbody>-->
</table>
<!--</div>-->

<!--<div *ngIf="displayRawData">-->
<!--raw data:-->
<!--<hr />-->
<!--<span>{{data | json}}</span>-->
<!--<hr />-->
<!--layout:-->
<!--<hr />-->
<!--<span>{{layout | json}}</span>-->
<!--<hr />-->
<!--</div>-->

<h1>hello from data table</h1>